<!-- =============================================== -->
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">运营中心</li>
            <li><a href="admin/index.php?app=paycenter"><i class="fa fa-bullseye fa-lg text-yellow"></i>
                <span>今日奖励</span></a></li>
            <li><a href="admin/index.php?app=paycenter&act=history"><i class="fa fa-bullseye fa-lg text-yellow"></i>
                <span>奖励日志</span></a></li>
        </ul>

        <ul class="sidebar-menu">
            <li class="header">线下订单</li>
            <li><a href="admin/index.php?app=offline_order&status=31"><i class="fa fa-bullseye fa-lg text-yellow"></i>
                <span>待审核</span></a></li>
            <li><a href="admin/index.php?app=offline_order&status=40"><i class="fa fa-bullseye fa-lg text-yellow"></i>
                <span>审核通过</span></a></li>
            <li><a href="admin/index.php?app=offline_order&status=0"><i class="fa fa-bullseye fa-lg text-yellow"></i>
                <span>审核拒绝</span></a></li>
            <li><a href="admin/index.php?app=offline_order"><i class="fa fa-bullseye fa-lg text-yellow"></i>
                <span>所有订单</span></a></li>
        </ul>
        <ul class="sidebar-menu">
            <li class="header">代理管理</li>

            <li><a href="admin/index.php?app=proxy&hastuijian=1" target="_blank"><i class="fa fa-bullseye fa-lg text-yellow"></i>
                <span>有推荐人商户业绩查询</span></a></li>
            <li><a href="admin/index.php?app=proxy&hastuijian=2" target="_blank"><i class="fa fa-bullseye fa-lg text-yellow"></i>
                <span>自由商户业绩查询</span></a></li>
            <li><a href="admin/index.php?app=proxy&hastuijian=3" target="_blank"><i class="fa fa-bullseye fa-lg text-yellow"></i>
                <span>区域总业绩查询</span></a></li>
            <li><a href="admin/index.php?app=proxy&act=add" target="_blank"><i class="fa fa-bullseye fa-lg text-yellow"></i>
                <span>代理录入</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<!-- =============================================== -->