<div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
        <li>
            <!--{if $page_info.prev_link}-->
            <a class="page_link" href="admin/{$page_info.prev_link}">&laquo;</a>
            <!--{/if}-->
        </li>

        <li>
            <!--{foreach from=$page_info.page_links key=page item=link}-->
            <!--{if $page_info.curr_page eq $page}-->
            <a class="page_hover" href="admin/{$link}">{$page}</a>
            <!--{else}-->
            <a class="page_link" href="admin/{$link}">{$page}</a>
            <!--{/if}-->
            <!--{/foreach}-->
        </li>

        <li>
            <!--{if $page_info.next_link}-->
            <a class="down" href="admin/{$page_info.next_link}">&raquo;</a>
            <!--{/if}-->
        </li>
    </ul>
</div>
